#main-view {
  top: 50%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}
.status {
  width: 350px;
  height: 20px;
  font-size: 15px;
  color: #bbbbbb;
  text-align: center;
  padding-top: 5px;
  text-transform: capitalize;
}
#holder {
  background-image: url('assets/em.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  border: 2px #bbbbbb dashed;
  padding: 10px;
  font-size: 15px;
  color: #bbbbbb;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
}

#holder.hover {
  border: 2px #666666 dashed;
}
