* {
  box-sizing: border-box;
}

body {
  background-color: #5c1820;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  transition: background-color 1s;
}

.hover {
  background-color: #751e29;
}

.main-view {
  background-color: #471319;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  border: 1px solid #751f29;
  position: absolute;
  margin: 100px;
  padding: 20px;
}

.holder {
  height: 100%;
  display: table;
}

.icon {
  width: 74px;
  display: table-cell;
  vertical-align: middle;
}

.status {
  font-weight: bold;
  color: #fff;
  height: 85px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}

.white,
.red,
.green {
  transition: opacity .2s;
}

.green .one,
.green .two,
.green .three,
.green .backplate,
.red {
  opacity: 0;
}

@keyframes one {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  100% { opacity: 0; }
}

.is-showing-spinner .white {
  opacity: 0;
}

.is-showing-spinner .red {
  opacity: 1;
}

.is-showing-spinner .green .one,
.is-showing-spinner .green .two,
.is-showing-spinner .green .three {
  animation-name: one;
  animation-duration: .9s;
  animation-iteration-count: infinite;
}

.is-showing-spinner .green .two {
  animation-delay: .3s;
}

.is-showing-spinner .green .three {
  animation-delay: .6s;
}
