* {
  box-sizing: border-box;
}

body {
  background-color: #5c1820;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  transition: background-color 1s;
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
  overflow: hidden;
  -webkit-app-region: drag;
}

.main-view {
  flex: none;
  background-color: #471319;
  border-radius: 5px;
  border: 1px solid #751f29;
  margin: auto 100px;
  padding: 25px;
  transition: border-color .5s;
  cursor: pointer;
}

.holder {
  height: 100%;
}

.icon {
  width: 74px;
  margin: 0 auto 15px;
  transition: 0.125s ease-out transform;
}

.main-view:hover .icon {
  transform: translateY(-5px);
}

.main-view:hover g > g {
  opacity: .5;
}

.status {
  font-weight: bold;
  color: #fff;
  text-align: center;
}

@keyframes spinner {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes arrow {
  0%, 100% { transform: translate(0px, 0px); }
  50% { transform: translate(0px, 7px); }
}

.white,
.red,
.green {
  transform: translate(0px, 14px);
}

.white,
.red,
.red .arrow,
.green,
.green .one,
.green .two,
.green .three {
  transition: opacity .5s;
}

.red,
.red .arrow,
.green .one,
.green .two,
.green .three,
.green .backplate {
  opacity: 0;
}

.red .arrow {
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.has-error .red {
  opacity: 1;
}

.is-dragging .red,
.is-dragging .arrow {
  opacity: 1;
}

.is-dragging .white {
  opacity: 0;
}

.is-dragging .main-view {
  border-color: #9D2A37;
}

.was-successful .white,
.was-successful .red {
  opacity: 0;
}

.was-successful .green .one,
.was-successful .green .two,
.was-successful .green .three {
  opacity: 1;
}


.is-showing-spinner .white {
  opacity: 0;
}

.is-showing-spinner .red {
  opacity: 1;
}

.is-showing-spinner .green .one,
.is-showing-spinner .green .two,
.is-showing-spinner .green .three {
  animation-name: spinner;
  animation-duration: .9s;
  animation-iteration-count: infinite;
}

.is-showing-spinner .green .two {
  animation-delay: .3s;
}

.is-showing-spinner .green .three {
  animation-delay: .6s;
}

footer {
  flex: none;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #999;
  font-size: 10px;

  background: #121922;
  box-shadow: 0 5px 6px 0px #0000002e inset;
  border-top: 1px solid #780000;
  width: 200vw;
  margin-left: -50vw;
}

footer img {
  height: 25px;
  margin: 10px;
  transition: 0.125s ease-out transform;
}

footer img:hover {
  transform: translateY(-2px);
}

footer div {
  width: 200px;
  margin: auto;
}

footer a {
  text-decoration: underline;
  color: #ccc;
}
